.car-label_container{
	position: absolute;
	bottom: 165px;
	left: 20px;
	display: flex;
	border: 1px solid white;
	color: WHITE;
	font-size: 0.7rem;
	border-radius: 5px;
}
.card-label_content{
	padding: 3px 5px;
	font-weight: 500;
}
