<div class="home_container">
	<app-card
		cardImg="https://image.api.playstation.com/vulcan/ap/rnd/202212/0906/DzCanxv0TxpczEoDjvAdbQsK.png?w=440&thumb=false"
		gameLabel="PS5"
		packagePrice="Pacote do Jogo"
		titlePrice="Wo Long: Fallen Dynasty Digital Deluxe Edition (PS4 & PS5)"
		gamePrice="R$ 107,45"
		gamePriceOf="R$ 214,90"
		gameCalcDiscount="-50%"
	></app-card>
	<app-card
		cardImg="https://image.api.playstation.com/vulcan/ap/rnd/202203/1409/oltI7Zc96usbdvhVVXcV1EAi.png?w=440&thumb=false"
		gameLabel="PS5"
		packagePrice="Pacote do Jogo"
		titlePrice="Grand Theft Auto V (PS4™ e PS5™)"
		gamePrice="R$ 107,45"
		gamePriceOf="R$ 214,90"
		gameCalcDiscount="-50%"
	></app-card>
	<app-card
		cardImg="https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/mYn2ETBKFct26V9mJnZi4aSS.png?w=440&thumb=false"
		gameLabel="PS5"
		packagePrice="Expansão"
		titlePrice="Grand Theft Auto Online (PlayStation®5)"
		gamePrice="R$ 107,45"
		gamePriceOf="R$ 214,90"
		gameCalcDiscount="-50%"
	></app-card>
	<app-card
		cardImg="https://image.api.playstation.com/vulcan/ap/rnd/202206/0809/pTbIwHOksbdDDguRPMzAwM2D.png?w=440&thumb=false"
		gameLabel="PS5"
		packagePrice="Pacote de Expansão"
		titlePrice="The Sims™ 4 Pacote de Expansão Vida no Ensino Médio"
		gamePrice="R$ 107,45"
		gamePriceOf="R$ 214,90"
		gameCalcDiscount="-50%"
	></app-card>
	<app-card
		cardImg="https://image.api.playstation.com/vulcan/img/cfn/11307ihcFWvwL0NiXgw9XY1A5djqIhBCV9bZUG9fEP2Y89sIyXlJgkEl-c5ieBV2VK_vnb2CmuGHxJ0a87angDG72hsv_ZYP.png?w=440&thumb=false"
		gameLabel="PS5"
		packagePrice="Pacote do Jogo"
		titlePrice="The Sims™ 4 Gatos e Cães + Meu Primeiro Bichinho"
		gamePrice="R$ 107,45"
		gamePriceOf="R$ 214,90"
		gameCalcDiscount="-50%"
	></app-card>
</div>
